# Ignore Visual Studio temporary files, build results, and project files
.vscode/
bin/
obj/

# Ignore Visual Studio working directory files
.vs/

# Ignore NuGet packages folder
packages/

# Ignore build directories
build/

# Ignore settings file
*.enc

# Ignore Logs directory
Logs/

# Ignore log files
*.log

# Ignore profiles directory
profiles/