# Python-related ignores

# Ignore pickle files
*.pkl

# Ignore Python bytecode files
*.pyc
__pycache__/
*.pyo

# Ignore log files
*.log
*.log.*

# Ignore config pickle
config.pkl

# Ignore files in log dir
nginx/logs/*

# Ignore generated rtmp config file
nginx/conf/rtmp.conf

# Ignore files in temp dir
nginx/temp/*

# Ignore venv config
pyvenv.cfg

# Ignore virtual environment directories
venv/

# Ignore build directories
build/

# Ignore spec files
*.spec

# C#-related ignores

# Ignore Visual Studio temporary files, build results, and project files
.vscode/
bin/
obj/

# Ignore Visual Studio working directory files
.vs/

# Ignore NuGet packages folder
packages/
