# Ignore Visual Studio temporary files, build results, and project files
.vscode/
bin/
obj/


# Ignore NuGet packages folder
packages/

# Ignore build directories
build/

# Ignore Logs directory
Logs/

# Ignore log files
*.log

# Ignore profiles directory
Profiles/

# Ignore AppSettings files
appsettings.json

# Ignore zip
*.zip

# Ignore ,net dir
.net8.0/
